{% extends "global_master_page.html" %}

{% block header %}<!-- header -->
<div class="twelvecol last">
    <h2>Directory</h2>
    <h1>Web App Prototypes</h1>
</div><!-- /header -->
{% endblock %}

{% block main %}<!-- main -->
<div class="container">
    <div class="row">
        <div class="twelvecol last">        
            <article class="dne-project">
                <h1>404 - Not Found</h1>
                <p>{{name}}</p>
            </article>
        </div>
    </div>
</div>
{% endblock %}