{% extends "global_master_page.html" %}

{% block main %}<!-- main -->
    <article class="view-project">
        <h1>{{project.name}}</h1>
        <form action="" method="post">
        {% if error_msg %}
        <div class="error message">
            <p>{{error_msg['message']}}</p>
            {% if project %}
            <p>Project: <a href="/view/project/{{project.name}}">{{project.title}}</a></p>
            {% endif %}
        </div>
        {% endif %}
        <fieldset>
            <legend></legend>
            <div class="form-row clearfix{% if error and error['title'] %} error{% endif %}">
                <label for="title">Title</label>
                <input type="text" class="title" id="title" name="title" value="{{project.title|e}}" placeholder="Project Title" />
                <input type="hidden" id="old-title" name="old-title" value="{{project.title|e}}" />
                {% if error and error['title'] %}<span class="message error">{{ error['title'] }}</span>{% endif %}
            </div>
            <div class="form-row clearfix{% if error and error['url'] %} error{% endif %}">
                <label for="url">URL</label>
                <input type="text" class="url" id="url" name="url" value="{{project.url}}" placeholder="Project URL" />
                <input type="hidden" id="old-url" name="old-url" value="{{project.url}}" />
                {% if error and error['url'] %}<span class="message error">{{ error['url'] }}</span>{% endif %}
            </div>
            <div class="form-row clearfix{% if error and error['description'] %} error{% endif %}">
                <label for="description">Description</label>
                <textarea class="description" id="description" name="description" placeholder="Project Title">{{project.description}}</textarea>
                <input type="hidden" id="old-description" name="old-description" value="{{project.description}}" />
                {% if error and error['description'] %}<span class="message error">{{ error['description'] }}</span>{% endif %}
                <span class="note">* must be 500 characters or less</span>
            </div>
            <div class="form-row"><input type="submit" /></div>
            <input type="hidden" id="project-id" name="project-id" value="{{project_id}}" />
            {{xsrf_form_html}}
        </fieldset>
        </form>
    </article>
{% endblock %}